<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guestbook</title>
</head>
<body>
        <h1>GuestBook</h1>

        <div id="entryNote">
            {% for entryNote in entryNotes %}
            <div class="entryNote">
                <h4>{{ entryNote.name }}, posted on {{ entryNote.date }}</h4>
                <p>{{ entryNote.message }}</p>
            </div>
            {% endfor %}
        </div>

            <form id="entryNote-form" method="POST">
                <label for="name">Your name</label>
                <input  type="text"  name="name" id="name">
                <br>

                <label for="message">Your message</label>
                <textarea name="message" id="message"></textarea>

                <button type="submit">Submit</button>

            </form>




</body>
</html>